.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.pagination_btn {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000;

  background-color: transparent;
  border-radius: 5px;
  text-wrap: nowrap;
  transition: 350ms;

  cursor: pointer;

  & a {
    padding: 13px;
  }

  &:hover,
  &:focus {
    color: var(--white-text-color);
    background-color: rgba(255, 107, 8, 0.7);
  }
}

.pagination_is_selected {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
}

.pagination_btn_prev,
.pagination_btn_next {
  display: flex;
  justify-content: center;

  background-color: var(--pagination-arrow);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color var(--time) var(--cubic);

  & a {
    padding: 12px;
  }

  &:hover,
  &:focus {
    background-color: rgba(255, 107, 8, 0.7);
  }
}

.pagination_icon_outlined {
  font-family: 'Material Icons';
  font-size: 16px;
  line-height: 1;
}

.pagination_btn_hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
