.modal_movie__thumb {
  position: relative;
  height: 357px;
  margin-bottom: 21px;
  border-radius: 5px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 374px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
    height: auto;
  }
}

.modal_movie__info_container {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 318px;
  }

  @media screen and (min-width: 1280px) {
    width: 391px;
  }
}

.card__img {
  display: block;
  object-fit: cover;
}

.modal_movie__title {
  margin-bottom: 19px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.16;
  }
}

.modal_movie__table {
  width: 100%;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.33;
}

.modal_movie__cell {
  width: 50%;
  padding-bottom: 5px;
}

.modal_movie__cell_last_row {
  padding-bottom: 0;
}

.modal_movie__span {
  display: inline-block;
  width: 36px;
  border-radius: 5px;
  text-align: center;
}

.modal_movie__span_vote {
  margin-right: 5px;
  color: var(--white-text-color);
  background-color: var(--accent-bg-color);
}

.modal_movie__span_votes {
  color: var(--white-text-color);
  background-color: var(--accent-bcg-votes);
}

.modal_movie__subtitle {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.modal_movie__text {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.66;

  @media screen and (min-width: 768px) and (max-width: 1279.99px) {
    margin-bottom: 40px;
  }
}

.button__trailer {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 20px;
  transition: color var(--time) var(--cubic);

  &:hover .modal_movie__svg_ytb,
  &:focus .modal_movie__svg_ytb {
    color: var(--white-text-color);
  }

  @media screen and (min-width: 768px) {
    gap: 24px;
  }
}

.modal_movie__svg_ytb {
  width: 25px;
  height: 25px;
  color: var(--current-page);
}

.production_logo {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 25px;
}
