.card__item {
  position: relative;
  perspective: 600px;
  transform-style: preserve-3d;
  transform-origin: 100%;
  width: 100%;
  transition: transform 1s ease-in-out;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
  }
}

.isflipped {
  transform: translate(-100%) rotateY(-180deg);
}

.card__item_front {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card__item_back {
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 17px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  backface-visibility: hidden;
  background-color: rgba(255, 0, 27, 0.4);
  border-radius: 4px 4px 4px 4px;
  transform: rotateY(180deg);
  overflow-y: auto;
  @media screen and (min-width: 768px) {
    padding: 28px;
  }
}

.card__img_container {
  margin-bottom: 8px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 12px;
  }
}

.card__img {
  object-fit: cover;
  border-radius: 5px;
  display: block;
}

.card__info {
  padding-left: 5px;
  padding-right: 5px;
}

.card__decr {
  display: flex;
  gap: 5px;
  align-items: center;

  @media screen and (min-width: 1280px) {
    font-size: 17px;
  }
}

.card__title {
  margin-bottom: 5px;
  /* @include lh(16px, 12px, 12px); */
  color: var(--main-text-color);
  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
    /* @include lh(20px, 14px, 14px); */
  }
}

.card__genre,
.card__year {
  color: var(--accent-text-color);
}

.card__rating {
  width: 36px;
  height: 16px;
  /* @include lh(14px, 12px, 12px); */
  color: var(--white-text-color);
  background-color: var(--accent-bg-color);
  border-radius: 5px;
  text-align: center;

  @media screen and (min-width: 1280px) {
    width: 44px;
    height: 20px;
    /* @include lh(14px, 15px, 15px); */
  }
}

.description__films {
  max-height: 250px;
  font-size: 16px;
  overflow-y: auto;
}

.read_more {
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;
}
