.header__buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 44px;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: transparent;
  border: 1px solid var(--white-text-color);
  border-radius: 5px;
  cursor: pointer;
}

.button_active {
  background-color: var(--my-library-current-bcg-button);
  border: none;
}
