.movies_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }
}

.movies_item {
  padding: 12px;
  box-shadow: 0 0 10px 3px rgb(255, 107, 1);
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .movies_item {
    width: calc((100% - 32px) / 2);
  }
}

@media only screen and (min-width: 1280px) {
  .movies_item {
    width: calc((100% - 64px) / 3);
  }
}

.movies_image {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

.movies_title {
  display: block;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  border: 2px dotted var(--border-color);
  text-transform: uppercase;
}
