.modal_registration__title_signUp {
  font-weight: 700;
  /* @include lh(30px, 20px, 20px); */
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.modal_registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

.modal_registration__label {
  position: relative;
  display: block;
  /* @include lh(14px, 12px, 12px); */
  letter-spacing: 0.01em;
  color: var(--footer-text-color);
}

.modal_registration__input {
  width: 100%;

  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 30px;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--time) var(--cubic);

  &:hover,
  &:focus {
    border-color: var(--accent-text-color);
  }
}

.button_modal_btn {
  display: block;
  margin: 0 auto;
  min-width: 110px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #000;
  transition: color var(--time) var(--cubic), background-color var(--time) var(--cubic),
    border-color var(--time) var(--cubic);

  /* @include lh(16px, 12px, 12px); */
  text-transform: uppercase;
  background-color: transparent;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 135px;
  }

  @media screen and (min-width: 1280px) {
    width: 155px;
  }

  &:hover {
    background-color: var(--accent-text-color);
    border-color: transparent;
    color: var(--white-text-color);
  }
}
