.input__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__header {
  display: inline-block;
  width: 280px;
  height: 20px;
  margin-bottom: 10px;
  padding: 0 0 4px 1px;
  font-weight: 400;
  font-size: 14px;
  color: var(--white-text-color);
  background: transparent;
  border: none;
  border-bottom: 0.5px solid var(--white-text-color);
  outline: none;
  transition: border-color var(--time) var(--cubic), transform var(--time) var(--cubic);

  &:hover,
  &:focus {
    transform: scale(1.03);
  }

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

.input__search_btn {
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform var(--time) var(--cubic);

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

.input__search_icon {
  color: var(--white-text-color);
  transition: transform var(--time) var(--cubic);

  &:hover,
  &:focus {
    transform: scale(1.03);
  }
}

.input__error {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: #ff001b;
  opacity: 0;
}
