.upcoming__title {
  margin-bottom: 30px;
  display: block;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.upcoming {
  padding-top: 30px;
  padding-bottom: 30px;
}

.upcoming___image {
  width: 100%;
  max-width: 250px;
  height: 375px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 0 10px 3px rgb(255, 107, 1);
  cursor: pointer;
}

:global(.swiper-slide) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  padding: 12px;
  margin-bottom: 55px;
  border-radius: 8px;
  border: 2px dotted rgba(255, 107, 1, 0.251);

  @media screen and (min-width: 768px) {
    height: 430px;
  }

  @media screen and (min-width: 1280px) {
    height: 475px;
  }
}

.swiper_title {
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

:global(.swiper-pagination-bullet) {
  margin: 0 6px;
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  opacity: 1;
  transition: background-color var(--time) var(--cubic);

  @media screen and (min-width: 768px) {
    width: 16px;
    height: 16px;
    margin: 0 8px;
  }
}

:global(.swiper-pagination-bullet-active) {
  background-color: #ff6b08;
}
