.upcoming__title {
  margin-bottom: 30px;
  display: block;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.upcoming {
  padding-top: 30px;
  padding-bottom: 30px;
}

.upcoming___image {
  width: 100%;
  max-width: 250px;
  height: 375px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
  transition: box-shadow var(--time) var(--cubic);
  &:hover,
  &:focus {
    box-shadow: 0 0 10px 3px rgb(255, 107, 1);
  }
}

:global(.swiper-slide) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  padding: 12px;
  margin-bottom: 70px;
  border-radius: 8px;
  border: 2px dotted var(--border-color);
  height: 450px;

  @media screen and (min-width: 768px) {
    height: 465px;
  }
}

.swiper_title {
  width: 100%;
  padding: 5px;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  border: 2px dotted var(--border-color);
}

:global(.swiper-pagination-bullet) {
  margin: 0 6px;
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  opacity: 1;
  transition: background-color var(--time) var(--cubic);

  @media screen and (min-width: 768px) {
    width: 16px;
    height: 16px;
    margin: 0 8px;
  }
}

:global(.swiper-pagination-bullet-active) {
  background-color: #ff6b08;
}
