body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  background-color: var(--white-text-color);
  color: var(--main-text-color);

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

main {
  flex: 1;
}
