body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  transition: background-color var(--time) ease-in;
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

main {
  flex: 1;
}

body.light {
  color: var(--main-text-color);
  background-color: var(--white-text-color);
}

body.dark {
  color: var(--white-text-color);
  background-color: var(--body-bcg);
}
